<html>
    <head>
        <title>Payout Tracker</title>
        <link href="https://bootswatch.com/4/materia/bootstrap.min.css" rel="stylesheet">
        <link rel="icon" href="static/deadpool.png">
        <link href="http://cdn.pydata.org/bokeh/release/bokeh-0.12.15.min.css" rel="stylesheet" type="text/css">
        <link href="http://cdn.pydata.org/bokeh/release/bokeh-widgets-0.12.15.min.css" rel="stylesheet" type="text/css">
        <script src="http://cdn.pydata.org/bokeh/release/bokeh-0.12.15.min.js"></script>
        <script src="http://cdn.pydata.org/bokeh/release/bokeh-widgets-0.12.15.min.js"></script>
        <meta name="viewport" content = "width=device-width, initial-scale=1.0">
        <script src="_scripts/jquery-1.3.2.min.js" type="text/javascript"></script>     
        <script language="javascript">
            $(document).ready(function() {           
                $('td:last-child:contains("no payouts")').parent().addClass('warning');
            });
        </script>
    </head>
    <body> 
        <div class="container">
            <div align="center"> 
                <h1>DPoS Payout Tracker</h1>
                <h5>ONZ, LWF, and OXY are Currently Supported</h5>
                <h6>Enter a wallet address and timespan to view payout metrics</h6>
                <br>
            </div>
            <form  action="" method="post" role="form">
                {{ form.csrf }}
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-7">
                            <label for="name">Address:</label>
                            <input type="text" class="form-control" id="address" name="address" value={{ address }} minlength="1">
                        </div>
                    <div class="col-md-3">
                        <label for="name">Timespan (days):</label>
                        <input type="number" class="form-control" id="dayspan" name="dayspan" value={{ dayspan }} min="1" max="60" step="1">
                    </div>
                    <div class="col-md-2" align="bottom">
                        <br>
                        <button type="submit" class="btn btn-success">Submit</button>
                    </div>
                </div>
            </form>
        </div>
        <br>
        <div class="container">
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for message in messages %}
                        {% if "Error" not in message[1]: %}
                        {% endif %}
                        {% if "Error" in message[1]: %}
                            <div class="col-md-12" align="center">
                                <div class="alert alert-warning">
                                    {{ message[1] }}
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            {% endwith %}
        </div>
        <div align="center">
            <h4>Account Summary</h4>
        </div> 
        <div class="row">
            <div class="col-md-4">
                <div class="alert alert-primary" role="alert">Current Balance: {{balance}}</div>
            </div>
            <div class="col-md-4">
                <div class="alert alert-primary" role="alert">Earnings/Day: {{earnings}}</div>
            </div>
            <div class="col-md-4">
                <div class="alert alert-primary" role="alert">Expected Earnings/Day: {{expectedearnings}}</div>
            </div>
        </div>
        <div align="center">
            <h4>Delegate Payouts vs Rank</h4>   
            {{ script| safe }}
            {{ div| safe }}
        </div>
        <div align="center">
            <h4>Current Votes</h4>   
            {{ show | safe }}
            <br>
            <h4>Listed Pools Not Voted For</h4>   
            {{ show2 | safe }}
            <br>
            <h5>Message Deadpool in Slack with Any Issues</h5>
        </div>
        <div>
            <br>      
        </div>
    </body>
</html>
